header {
  border-bottom: 1px solid #f4f4f4;
}

.main-header-wrapper.fixed {
  @media (min-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--white);
    z-index: 999;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.05);
    animation: slideDown 0.35s ease-out;
  }

  .main-header .header-left ul li a {
    padding-block: 20px;
  }

  .main-header .header-right ul li button {
    padding-block: 20px;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;

    .nav-toggler {
      @include reset-button;
      background-color: transparent;
      margin-right: 10px;
      font-size: 22px;
      cursor: pointer;
      display: none;

      @media (max-width: $md) {
        display: block;
      }
    }

    ul {
      margin-left: 50px;
      display: flex;
      align-items: center;

      @media (max-width: $md) {
        display: none;
      }

      li {
        &:not(:last-child) {
          margin-right: 12px;
        }

        a {
          display: flex;
          align-items: center;
          padding-block: 33px;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-transform: uppercase;
          color: var(--gray);

          &:hover {
            color: var(--yellow);
          }

          svg {
            --magerment: 10px;
            width: var(--magerment);
            height: var(--magerment);
            margin-left: 4px;
          }
        }
      }
    }
  }

  .header-right ul {
    display: flex;

    li {
      &.cart-dropdown {
        position: relative;

        &:hover .cartlist-wrapper {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      button {
        position: relative;
        background-color: transparent;
        padding-block: 33px;
        @include reset-button;
        cursor: pointer;
        transition: 0.3s all;
        display: flex;
        align-items: center;

        &:hover {
          color: var(--yellow);
        }

        .cart-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: 10px;
          font-weight: 400;
          color: var(--white);
          background-color: var(--yellow);
        }
      }

      @media (max-width: $md) {
        &:first-child {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
