.search-wrapper {
  display: flex;
  align-items: center;
  flex: 1;

  .search {
    display: flex;
    flex: 1;
    width: 275px;
    align-items: center;
    border: 1px solid #ebebeb;
    height: 40px;
    overflow: hidden;
    padding-inline: 8px;
    border-radius: 25px;

    input {
      flex: 1;
      border: 0;
      outline: 0;
      padding: 10px 3px;

      &:focus {
        outline: 0;
        border: 0;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
