.top-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;

  .header-left {
    display: flex;
  }

  .header-right {
    position: relative;

    ul {
      display: flex;
      margin-left: auto;
      position: relative;
      padding-block: 4px;

      &.top-menu {
        @media (max-width: $md) {
          visibility: hidden;
          opacity: 0;
          flex-direction: column;
          position: absolute;
          right: 0;
          top: 100%;
          min-width: 150px;
          background-color: var(--white);
          z-index: 10;
          box-shadow: 2px 5px 8px rgb(51 51 51 / 5%),
            -2px 5px 8px rgb(51 51 51 / 5%);
          padding-top: 0;

          li a {
            font-size: 12px;
            padding: 3px 5px;
          }

          &::before {
            content: "";
            height: 1px;
            width: 100%;
            background: #ebebeb;
            margin-bottom: 2px;
          }

          &:hover {
            visibility: visible;
            opacity: 1;
          }
        }

        svg {
          --magerment: 16px;
          width: var(--magerment);
          height: var(--magerment);
          margin: 0;
          margin-right: 10px;

          @media (max-width: $md) {
            --magerment: 12px;
          }
        }
      }

      li:not(:last-child) a {
        padding-right: 25px;

        @media (max-width: $md) {
          padding-right: 0;
        }
      }

      li a {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 20px;
        color: var(--gray);
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        padding-block: 6px;

        &:hover {
          color: var(--yellow);
        }
      }

      &:not(.top-menu) {
        svg {
          --magerment: 15px;
          width: var(--magerment);
          height: var(--magerment);
          margin-left: 10px;
        }

        &:hover .top-menu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
