.blog-section {
  background-color: #f4f4f4;
  padding-block: 50px;

  .blog-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    & > *:not(:last-child) {
      margin-right: 20px;

      @media (max-width: $md) {
        margin: 0;
        margin-right: 20px;
      }

      @media (max-width: 600px) {
        margin: 0;
        margin-bottom: 20px;
      }
    }

    .blog-item {
      padding-block: 12px;
      transition: box-shadow 0.35s ease, -webkit-box-shadow 0.35s ease;

      &:hover {
        box-shadow: 5px 5px 10px rgb(0 0 0 / 3%), -5px 5px 10px rgb(0 0 0 / 3%);
      }
    }

    .entry-media {
      padding-top: 20px;
      position: relative;
      padding-top: 250px;
      overflow: hidden;
      margin-bottom: 20px;

      &::before,
      img,
      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        display: block;
        width: 100%;
        background-image: -webkit-linear-gradient(#f4f4f4 250px, transparent 0);
        background-image: linear-gradient(#f4f4f4 250px, transparent 0);
        background-size: cover;
        background-position: 50%;
        background-color: #f4f4f4;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .entry-body {
      padding-inline: 30px;
    }

    .entry-meta {
      text-align: center;

      a {
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        color: var(--gray);

        &:hover {
          color: var(--yellow);
        }
      }
    }

    .entry-title {
      text-align: center;
      padding-block: 5px;

      a {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        color: var(--semi-black);

        &:hover {
          color: var(--yellow);
        }
      }
    }

    .entry-content {
      padding-block: 5px;
      text-align: center;

      p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        color: var(--gray);
      }

      .read-more {
        padding-block: 10px;
        display: inline-block;
        text-transform: uppercase;
        color: var(--yellow);
      }
    }
  }
}
