.selector {
  position: relative;
  display: flex;

  &:hover .select-list {
    visibility: visible;
    opacity: 1;
  }

  .select-field {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--gray);
    background: transparent;
    border: none;

    &:hover span {
      color: var(--yellow);
    }

    svg {
      --magerment: 18px;
      width: var(--magerment);
      height: var(--magerment);
      margin-left: 3px;
    }
  }

  .select-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    min-width: 100px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    z-index: 10;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ebebeb;
    }

    li {
      font-size: 13px;
      line-height: 20px;
      font-weight: 300;
      color: var(--gray);
      cursor: pointer;
      padding: 3px 7px;

      &:hover {
        color: var(--yellow);
      }
    }
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}
