footer {
  background-color: #333;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    padding: 10px;
    flex: 0 0 25%;
    max-width: 25%;

    @media (max-width: $md) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: $xsm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  ul li:not(:last-child) {
    margin-bottom: 5px;
  }

  img {
    width: 120px;
    margin-bottom: 25px;
  }

  .widget-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: var(--white);
    margin-bottom: 25px;
  }

  p,
  a {
    font-size: 14px;
    line-height: 26px;
    color: var(--gray);
  }

  a:hover {
    color: var(--yellow);
  }
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  border-top: 1px solid #525455;
  font-size: 14px;
  line-height: 26px;
  color: var(--gray);
  font-weight: 300;

  @media (max-width: $sm) {
    flex-direction: column;
  }

  & > * {
    padding-block: 18px;

    @media (max-width: $sm) {
      padding-block: 12px;
    }
  }
}
