.more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  margin: auto;
  text-align: center;
  width: 230px;
  margin: auto;
  border: 1px solid var(--gray);
  padding: 10px 10px;
  font-size: 14px;
  line-height: 14px;
  color: var(--semi-black);
  font-weight: 300;
  margin-top: 35px;
  transition: 0.4s ease;
  text-transform: uppercase;

  &:hover {
    background-color: var(--yellow);
    color: var(--white);
    border-color: transparent;
  }

  svg {
    margin-left: 10px;
  }
}
