.product-quick-review {
  padding: 25px 20px;
  padding-bottom: 0;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 1000px;
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  @media (max-width: $md) {
    max-width: 90%;
    height: 96dvh;
  }

  &:hover ::-webkit-scrollbar {
    width: 20px;
    display: block;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #acacbe;
    border-radius: 8px;
  }
  .product-details-top {
    .product-gallery-container {
      flex-direction: column;

      .product-gallery {
        flex: 0 0 100%;
      }
    }
    .product-zoom-gallery {
      flex-direction: row;
    }

    .product-gallery-container .product-zoom-gallery {
      display: flex;
      width: 100%;
      max-width: 100%;
    }
  }
}
