// Breakpoints
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xsm: 575px;

$gray: #777;
$pirmary-color: #cc9966;
$white: #fff;
$black: #000;
$semi-black: #333;
$font-priamry: "Manrope", sans-serif;
$font-secondary: "Poppins", sans-serif;
